<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Torrmon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Torrmon.Properties.Settings>
            <setting name="Setting" serializeAs="String">
              
                <value />
            </setting>
        </Torrmon.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="TempLocation" value="C:\media\Temp" />
    <add key="ReadyLocation" value="C:\media\Ready" />
    <add key="IgnoreDirs" value="Sample,Subs" />
    <add key="IgnoreFiles" value="Sample,Subs" />
  </appSettings>
</configuration>